
{% extends "layout.html" %}

{% block body %}


    <h1>Results for Symbol {{ symbol }}</h1>

    <iframe

    width=100% height="650" frameborder="0" seamless="seamless" scrolling="no"

    src="{{ plot }}.embed?width=100%&height=650">

    </iframe>
    {{ table | safe }}
    
    <br><br>
        {% if symbol == 'AAPL' %}
         <div style="text-align: center;">
            <p>FINAL PRICE DISTRIBUTION AFTER 365 DAYS</p>
             <img 
                src = '../static/AAPL.jpeg' 
                style="width: 700px; height: 400px;"/>
                <p>This basically means for every initial AAPL stock you purchase you're putting about $5.86 at risk 99% of the time from our Monte Carlo Simulation</p>

         </div>

        {% elif symbol == 'MSFT' %}
            <div style="text-align: center;">
                <p>FINAL PRICE DISTRIBUTION AFTER 365 DAYS</p>

                <img 
                src = '../static/MSFT.jpeg' 
                style="width: 700px; height: 400px;"/>
                <p>This basically means for every initial AMZN stock you purchase you're putting about $38.56 at risk 99% of the time from our Monte Carlo Simulation</p>

            </div>
        {% elif symbol == 'GOOGL' %}
        <div style="text-align: center;">
            <p>FINAL PRICE DISTRIBUTION AFTER 365 DAYS</p>

                <img 
                src = '../static/GOOGL.jpeg' 
                style="width: 700px; height: 400px;"/>
            <p>This basically means for every initial GOOGL stock you purchase you're putting about $39.50 at risk 99% of the time from our Monte Carlo Simulation</p>

            </div>

        {% elif symbol == 'AMZN' %}
        <div style="text-align: center;">
            <p>FINAL PRICE DISTRIBUTION AFTER 365 DAYS</p>

                <img 
                src = '../static/AMZN.jpeg' 
                style="width: 700px; height: 400px;"/>

            <p>This basically means for every initial AMZN stock you purchase you're putting about $38.56 at risk 99% of the time from our Monte Carlo Simulation</p>

            </div>
        {% else %}
        <div>
           OUR METHOD IS STILL LEARNING 
        </div>
        {% endif %}
    <br><br>

    


{% endblock %}
